@font-face {
  font-family: "ITC Avant Garde Gothic";
  src: url("../fonts/ITCAvantGardeGothicBook/ITCAvantGardeGothicBook.woff2")
      format("woff2"),
    url("../fonts/ITCAvantGardeGothicBook/ITCAvantGardeGothicBook.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde Gothic";
  src: url("../fonts/ITCAvantGardeGothicBold/ITCAvantGardeGothicBold.woff2")
      format("woff2"),
    url("../fonts/ITCAvantGardeGothicBold/ITCAvantGardeGothicBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde Gothic";
  src: url("../fonts/ITCAvantGardeGothicMedium/ITCAvantGardeGothicMedium.woff2")
      format("woff2"),
    url("../fonts/ITCAvantGardeGothicMedium/ITCAvantGardeGothicMedium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaBlack.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaBlackItalic.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaSemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaSemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaRegularItalic.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaRegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaLightItalic.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaMediumItalic.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaLight.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaMedium.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaSemiBold.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaBold.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaBoldItalic.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia/SofiaRegular.woff2") format("woff2"),
    url("../fonts/Sofia/SofiaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
