@import "reset";
@import "fonts";

$header-height: 10vh;
$title-font: "ITC Avant Garde Gothic";
$text-font: "Sofia";
$font-color: #222831;
$page-padding: 0% 10vw;
$icon-size: 8vw;
$dark-background: #222831;
$background: #393e46;
$regular-color: #00adb5;
$power-color: #00fff5;
body {
  overflow: hidden;
}
header {
  background: white;
  position: relative;
  width: 100vw;
  opacity: 1;
}

.brands-section {
  background: white;
}
h1 {
  font-family: $title-font;
  font-weight: 500;
  color: $font-color;
}
.main-text-light {
  font-weight: normal;
  font-style: normal;
  line-height: 2em;
  text-align: justify;
  color: white !important;
}

p,
a {
  font-family: $text-font;
  font-size: 1vw;
  color: $font-color;
}
a {
  text-decoration: none;
}

.landing-page {
  justify-content: center;
  align-items: center;
  background: white;
}
.arnie-logo {
  font-family: $title-font;
  font-size: 1.5vw;
  font-weight: 300;
  text-transform: uppercase;
}
.schrage-logo {
  font-family: $title-font;
  font-size: 1.5vw;
  font-weight: 300;
  color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  mix-blend-mode: difference;
}
.page-padding {
  padding: $page-padding;
}

.what-i-do {
  background-color: $dark-background;
}

.landing-title,
.main-title {
  font-size: 6vw;
  font-weight: 600;
}

.project-title {
  font-family: $title-font;
  font-size: 2.5vw;
  font-weight: 500;
}

.short-description {
  font-family: $title-font;
  font-size: 1.5vw;
  font-weight: 300;
}

.accordion-title {
  font-family: $title-font;
  font-size: 3vw;
  font-weight: 600;
  text-decoration: none;
}

.landing-text {
  padding: 5%;
}

.mix-this {
  color: white;
  mix-blend-mode: difference;
}
.fixed {
  position: fixed;
  mix-blend-mode: difference;
}
.main-nav {
  font-family: $title-font;
  font-size: 1vw;
  text-transform: uppercase;
  padding: 2% 5vw;
}
.main-text {
  font-weight: normal;
  font-style: normal;
  line-height: 2em;
  text-align: justify;
}

.outline-text-black {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgba(0, 0, 0, 0);
}

.outline-text-white {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: rgba(0, 0, 0, 0);
}
.weight400 {
  font-weight: 400;
}

.main-page {
  overflow-y: scroll;
  max-height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.cta-button {
  border-top: 1px;
  border-right: 3px;
  border-bottom: 3px;
  border-left: 1px;
  border-style: solid;
  border-color: black;
}

.contact-button {
  max-width: 10vw;
  padding: 2% 3%;
}
.button-icon {
  width: 1vw;
  height: auto;
}

.card {
  background-color: transparent;
  border: none;
}

.card-header button {
  color: $power-color;
}

.card-header {
  padding: 0.5rem 0rem;
  border: none;
}
.card-body {
  font-family: $text-font;
  color: white;
}
.adobe-logo {
  width: $icon-size;
  fill: #2e2b2b;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

.grid .fab {
  font-size: $icon-size;
  color: $dark-background;
}

.fab:hover {
  font-size: $icon-size;
  color: $regular-color;
}

.btn-link:hover {
  color: #ffffff;
}
.icon-desc {
  text-align: center;
  padding-top: 2vh;
  font-weight: 900;
  font-size: 1vw;
}

.brands-padding {
  padding: 5% 15%;
}

.my-work {
  background-color: $dark-background;
}
